@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

body{
    margin: 0;     
    /*text-align: center;*/
}

header{
    background-color: #2E948A;
    display: flex;
    justify-content: space-between;  
    align-items: center;    
}

.wrapper{
    margin: 0 auto;
    max-width: 1550px;
}

nav{
    text-align: center;
}

.container-navegacao{
    width: 40%;
}

.container-logo{
    padding-left: 5%;  
    width: 30%;  
}

.menu{
    list-style: none;         
}

.menu-item{
    display: inline;            
}

.menu-item-link{
    text-decoration: none;
    padding: 3%; 
    font-style: normal;
    font-size: 20px;
    line-height: 23px;       
    font-weight: bold;
    color: #FDFDFD;
    text-transform: uppercase;
}

footer{
    background-color: #2E948A;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-item-link-footer{
    text-decoration: none;
    font-style: normal;
    font-size: 15px;
    line-height: 23px;       
    color: #FDFDFD;
}
.conteiner-links-footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px;

}

.link-footer{
    text-decoration: none;
    font-style: normal;
    font-size: 20px;
    line-height: 40px;   
    text-align: center;    
    color: #FDFDFD;
    border:2px solid #FDFDFD;
    border-radius: 62px;    
    padding: 0 20px;
}

.container-topo{
    display: flex;

}

.container-topo img{
    width: 20em ;
}

main{
    display: flex;
    justify-content: center; 
}

#topo{
    display: flex;
    justify-content: space-between;
    padding: 5em;    
}

.container-topo-titulo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container-topo-titulo h1{
    font-size: 7ch;
    color: #FF4081;
    padding: 0;
    margin: 0;
}

.container-topo-titulo p{
    font-size: 27px;
    padding: 0;
}

.container-topo-titulo a{
    color: #FF4081;
    font-size: 25px;
    border: 2px solid #FF4081;
    border-radius: 60px;
}
    

.link-sabermais{
    padding: 1rem 2rem;
    box-sizing: border-box;
    text-align: center;
}

.link-sabermais:hover{
    background-color: #FF4081;
    color: #FDFDFD;
}

#cursos{
    display: flex;
    justify-content: space-between;
    background-color: #F7F7F7;    
    text-align: center; 
}

#cursos div{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 10px;
}

#cursos div img{
    width: 275px;
    height: 275px;
}

#cursos div h3{
    color: #FF4081;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 2rem;
}

#cursos div p{
    margin: 0 0 2rem 0;
    font-weight: 300;
    font-size: 17.5px;
    width: 350px;
}

#cursos a{
    color: #FFFFFF;
    font-size: 20px;
    border: 2px solid ;
    border-radius: 60px;
    background-color: #FF4081;
}

.link-comecar{
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
}


#depoimentos {
    display: flex;
    flex-direction: column;    
}

#titulo-container{
    color: #009688;
    margin-top: 70px;
    font-size: 2.5em;
    text-align: left;
}

#depoimentos div{
    display: flex;    
    margin: 20px;
}

#mais-conteudo{
    display: flex;
    justify-content: space-between;  
    text-align: left;
}

#mais-conteudo div{
    display: flex;
    flex-direction: column;
    width: 320px;
}

#container-mais-conteudo{
    text-align: center;
}

#container-mais-conteudo a{
    color: #FF4081;
    font-size: 25px;
    border: 2px solid #FF4081;
    border-radius: 60px;
}
  
.link-posts{
    padding: 1rem 2rem;
    box-sizing: border-box;
    text-align: center;
}

.link-posts:hover{
    background-color: #FF4081;
    color: #FDFDFD;
}
